# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VSCode junk
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Environment files
.env
venv/
ENV/
env/
*.egg-info/

# Logs
*.log

# Database files
*.sqlite3

# Ignore uploads if dynamic
/uploads/

